:root {
    --slate-indigo: #6369d1ff;
    --pearl-aqua: #60e1e0ff;
    --lavender: #d8d2e1ff;
    --rosy-taupe: #b88e8dff;
    --twilight-indigo: #34435eff;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: var(--lavender);
    background: var(--twilight-indigo);
    padding: 0 40px;
    text-align: center;
}

nav {
    margin: 40px auto 0 auto;
    width: 250px;
    border-radius: 50px;
    background: var(--slate-indigo);
}

nav ul {
    display: flex;
    justify-content: space-evenly;
    margin: 0;
    padding: 0;
}

nav ul li {
    list-style-type: none;
    margin: 0;
}

nav ul li a {
    display: inline-block;
    padding: 20px;
    color: var(--lavender);
    text-decoration: none;
    font-size: 1.2em;
}

h1 {
    font-size: 6em;
    letter-spacing: -2px;
    font-style: italic;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: var(--rosy-taupe);
}

h1 strong {
    color: var(--pearl-aqua);
}

img.about {
    opacity: 0.5;
}

.tagline {
    color: var(--slate-indigo);
    font-weight: bold;
    font-size: 3em;
    box-shadow: #34435eff;
}

.content {
    font-size: 2.5em;
    padding: 50px 250px;
}

h3 {
    font-size: 4em;
}

.post {
    font-size: 48px;
    padding-bottom: 40px;
}

a { 
    text-decoration: none;
    color: var(--lavender);
}
